* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url("static.jpeg") !important;

}

@font-face {
    font-family: 'HomeVideo';
    src: url('fonts/HomeVideo-BLG6G.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HomeVideo2';
    src: url('fonts/HomeVideoBold-R90Dv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.BarraLogo {
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

#CompanyLogo1 {
    margin: 20px;
    height: 120px;
}

.HButtons {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    display: flex;


}

.HButtons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'home';
    font-size: 15px;

}

.HButtons li {
    margin: 0px 10px;
}

.HButtons a {
    text-decoration: none;
    color: red;
    font-family: 'HomeVideo';
}

#About {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

#abthead {
    font-family: 'HomeVideo';
    color: red;
    display: flex;

}

#carouselExampleCaptions {
    width: 1000px;
    height: width/2;
    font-family: "HomeVideo";
}

.carousel-title {
    font-family: "HomeVideo2";
    color: red;
}

#CAUSA {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.causehead {
    font-family: "HomeVideo2";
    color: red;
    margin: 20px;
}

.pixel1 {
    font-family: "HomeVideo";
    background-color: black;
    border: solid 0.1px;
    height: 40rem;
    width: height+10;



}

#Mobile {
    display: none;
}

.card-text {
    color: white;
}

.Cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.cardbtn1 {
    background-color: red;
    border-color: red;
    font-family: "HomeVideo";
}

.cardbtn2 {
    background-color: red;
    border-color: red;
    font-family: "HomeVideo";
}

.card-title1 {
    font-family: "HomeVideo";
    color: red;
    filter: blur(0.6px);
}

#textocarr {
    color: red;
    font-family: "HomeVideo";
    background-color: black;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: 900;
}

#parcar1 {
    color: white;
    font-family: "HomeVideo";
    font-weight: 900;


}

.menu {
    font-family: "HomeVideo";
    color: red;
    display: none;

}

#FORM {
    margin-top: 150px;
    margin-bottom: 150px;
}

#contactHEAD {
    font-family: "HomeVideo2";
    color: red;
}

#contactP {
    font-family: "HomeVideo";
    color: red;
    margin: 20px;
}

.formfloating {
    background-color: black;
    margin: 20px;
}

.mb-3 {
    margin-left: 30%;
    margin-right: 30%;
    color: red;
    font-family: "HomeVideo";
}

.BTNSUB {
    color: red;
    font-family: "HomeVideo";
    background-color: #000000;
    border-color: red;

}

.flg {
    margin-right: 30%;
    margin-left: 30%;
    margin-right: 30%;
}

#lcwhite {
    height: 50px;
    margin: 20px;
    margin-top: 5%;
    position: relative;

}

#iconoLC {
    height: 90px;
    display: flex;
    position: absolute;
    right: 3%;
}

#textocarr2 {
    color: red;
    font-family: "HomeVideo";
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 900;
}

#footercr {
    color: white;
    font-family: "HomeVideo";
    font-size: 10px;
    margin-top: 7%;
}

footer {
    display: flex;
    background-color: #000000;
    opacity: 0.3;
}



@media(max-width: 900px) {

    #iconoLC {
        height: 90px;
        display: flex;
        position: absolute;
        right: 15%;
    }

    .navmenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(27, 27, 27);
        top: 17%;
        align-items: center;
        padding: 20px;
        left: 100%;
        padding: 20px 0px;
        width: 100%;
        height: 200%;
        z-index: 3;
        transition: left 0.2s;
    }



    .navmenu_visible {
        left: 0%;
    }

    .HButtons li {
        margin: 50px 20px;
        font-size: 50px;
    }

    .pixel1 {
        font-family: "HomeVideo";
        background-color: black;
        border: solid 0.1px;
        margin: 20px;
        width: 30rem;
        height: 40rem;
        font-size: 25px;

    }

    .Cards {
        display: block;
    }

    .menu {
        font-family: "HomeVideo";
        color: red;
        display: flex;
        text-align: right;
        position: absolute;
        right: 5%;
        display: block;
        cursor: pointer;
    }








}